@import "../abstracts/variables.scss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $neutral-white;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
  text-transform: uppercase;
}

::selection {
  background-color: $green-primary-light;
  color: $neutral-white;
}

.Main {
  transition: all 0.2s ease-in;
}

.dark-mode {
  background-color: rgb(15, 15, 15);
  color: $neutral-white !important;
  transition: all 0.2s ease-in;
  border: white !important;

  a,
  li,
  p {
    color: white !important;
  }

  .card {
    border: 2px solid white !important;
  }
}
