// ====================== VARIABLES ====================== //

$green-primary-light: #04e794;
$green-primary-dark: #01a569;

$neutral-black: #000000;
$neutral-black-transparent: rgba(0, 0, 0, 0.77);

$neutral-white: #ffffff;

// ======================================================= //

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
  overflow: hidden;
  color: $neutral-black;
}

::selection {
  background-color: $green-primary-light;
  color: $neutral-white;
}

ul {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

.navbar,
.social {
  li:not(:last-child) {
    padding-bottom: 35px;
  }

  li {
    a {
      text-decoration: none;
      color: $neutral-black;
      border-bottom: 1px solid transparent;
      padding-bottom: 5px;
      transition: all 0.2s ease-in;
    }

    a:hover {
      border-bottom: 1px solid $neutral-black;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  margin-left: 90px;
  margin-bottom: 355px;

  .navbar-nav {
    padding: 0;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container2 {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24%;

  h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  p {
    font-size: 13px;
    color: $neutral-black-transparent;
    line-height: 23px;
    letter-spacing: 1px;
  }

  a {
    width: fit-content;
    margin-top: 35px;
    padding: 3px 3px;
    color: $neutral-black;
    text-decoration: none;
    border: none;
  }
}

.social {
  height: 89vh;
  display: flex;
  align-items: flex-end;
  margin-right: 90px;
  margin-left: -75px;
}

.social-links {
  list-style: none;
}

.btn-primary {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  width: 45%;
  background-color: $green-primary-light;
  color: $neutral-white;
  border-radius: 0;
  border: none;
  text-transform: uppercase;

  padding: 13px 5px;

  transition: background-color 0.15s ease-in;
}

.btn-modal {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin-top: 10px;
  background-color: $green-primary-light;
  color: $neutral-white;
  border-radius: 0;
  border: none;
  text-transform: uppercase;

  padding: 13px 35px;
  transition: background-color 0.15s ease-in;
}

.btn-primary:hover,
.btn-modal:hover {
  background-color: $green-primary-dark;
}

.topnav {
  font-size: 20px;
  color: $neutral-black-transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin: 35px 0;
  padding: 0;

  li {
    margin: 0 115px;
    transition: color 0.2s ease-in;

    a {
      color: $neutral-black-transparent;
      transition: color 0.2s ease-in;
    }

    a:hover {
      color: $neutral-black;
    }
  }

  li:hover {
    cursor: pointer;
    color: $neutral-black;
  }
}

.picture {
  height: 764px;
  width: 533px;
  background-image: url(./img/photo1.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%) contrast(90%) brightness(0.8);
}

.mark {
  background: linear-gradient(
    0deg,
    rgba(4, 231, 148, 0.5) 45%,
    rgba(255, 255, 255, 0) 9%
  );
}

.mark:hover {
  cursor: pointer;
  background: linear-gradient(
    0deg,
    rgba(4, 231, 148, 0.8) 45%,
    rgba(255, 255, 255, 0) 9%
  );
}

.active {
  border-bottom: 1px solid $neutral-black !important;
}

.main {
  animation-name: mainLoading;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
}

@keyframes mainLoading {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
